{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:facturation_import_excel' %}" class="addlink">
            Import Excel
        </a>
    </li>
    <li>
        <a href="{% url 'admin:facturation_delete_project' %}" class="deletelink">
            Delete Project
        </a>
    </li>
    <li>
        <a href="{% url 'admin:facturation_delete_all' %}" class="deletelink">
            Delete All
        </a>
    </li>
    {{ block.super }}
{% endblock %}